.flexbox{
    background-color: rgb(173, 239, 249);
}
.catagery{
    
    margin:25px 0 !important;
   
}
.catagery h4{
    text-align: center;
}
.catagery h4{
    padding-top: 15px;
}
.product{
    padding: 25px !important;
    
}
.product button{
    width: auto;
    margin: 0 auto;
}
.prm{
   
    background-color: #fff;
}